In [4]:
import pandas as pd
import numpy as np
import altair as alt

In [3]:
cars = pd.read_json("./mtcars_missing.json")

In [5]:
# Start to repair data.
dropna_cars = (cars
            .replace(999, np.nan)
            .dropna())

In [6]:
# Get the agreggate weight for each cylinder type.
(cars
    .filter(items = ["cyl", "wt"])
    .groupby("cyl")
    .mean("wt")
)

           wt
cyl
4    2.403750
6    2.926250
8    3.926667